<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrs.infrastructure.datasource.reservation.reservation.ReservationMapper">
    <resultMap id="BaseResultMap" type="mrs.domain.model.reservation.reservation.Reservation">
        <id column="予約番号" property="reservationId.value"/>
        <result column="予約終了時間" property="reservedTime.endTime"/>
        <result column="予約開始時間" property="reservedTime.startTime"/>
        <result column="予約日" property="reservableRoom.reservableRoomId.reservedDate.value"/>
        <result column="会議室番号" property="reservableRoom.reservableRoomId.roomId.value"/>
        <result column="利用者番号" property="user.userId.value"/>
        <association property="reservableRoom.reservableRoomId"
                     javaType="mrs.domain.model.reservation.room.ReservableRoomId">
            <id property="roomId.value" column="会議室番号"/>
            <result property="reservedDate.value" column="予約日"/>
        </association>
        <association property="reservableRoom.meetingRoom"
                     javaType="mrs.domain.model.facility.room.MeetingRoom"
                     column="会議室番号"
                     select="mrs.infrastructure.datasource.facility.room.RoomMapper.select"
        />
        <association property="user"
                     javaType="mrs.domain.model.auth.user.User"
                     column="利用者番号"
                     select="mrs.infrastructure.datasource.auth.UserMapper.select"
        />
    </resultMap>

    <insert id="insert" parameterType="mrs.domain.model.reservation.reservation.Reservation" useGeneratedKeys="true">
        INSERT INTO reservation.予約
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reservationId.value != null">
                予約番号,
            </if>
            <if test="reservedTime.endTime != null">
                予約終了時間,
            </if>
            <if test="reservedTime.startTime != null">
                予約開始時間,
            </if>
            <if test="reservableRoom.reservableRoomId.reservedDate.value != null">
                予約日,
            </if>
            <if test="reservableRoom.reservableRoomId.roomId.value != null">
                会議室番号,
            </if>
            <if test="user.userId.value != null">
                利用者番号,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reservationId.value != null">
                #{reservationId.value},
            </if>
            <if test="reservedTime.endTime != null">
                #{reservedTime.endTime},
            </if>
            <if test="reservedTime.startTime != null">
                #{reservedTime.startTime},
            </if>
            <if test="reservableRoom.reservableRoomId.reservedDate.value != null">
                #{reservableRoom.reservableRoomId.reservedDate.value},
            </if>
            <if test="reservableRoom.reservableRoomId.roomId.value != null">
                #{reservableRoom.reservableRoomId.roomId.value},
            </if>
            <if test="user.userId.value != null">
                #{user.userId.value},
            </if>
        </trim>
    </insert>

    <select id="select" resultMap="BaseResultMap">
        SELECT 予約番号, 予約終了時間, 予約開始時間, 予約日, 会議室番号, 利用者番号
        FROM reservation.予約
        WHERE 予約番号 = #{value}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT r.予約番号,
               r.予約終了時間,
               r.予約開始時間,
               r.予約日,
               r.会議室番号,
               r.利用者番号,
               u.姓,
               u.名,
               u.役割,
               rm.会議室名
        FROM reservation.予約 r
                 LEFT OUTER JOIN reservation.予約可能会議室 rr
                                 ON r.予約日 = rr.予約日 AND r.会議室番号 = rr.会議室番号
                 LEFT OUTER JOIN auth.利用者 u
                                 ON r.利用者番号 = u.利用者番号
                 LEFT OUTER JOIN facility.会議室 rm
                                 ON r.会議室番号 = rm.会議室番号
    </select>

    <select id="selectByKey" resultMap="BaseResultMap">
        SELECT 予約番号, 予約終了時間, 予約開始時間, 予約日, 会議室番号, 利用者番号
        FROM reservation.予約
        WHERE 予約日 = #{reservedDate}
          AND 会議室番号 = #{roomId}
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT 予約番号, 予約終了時間, 予約開始時間, 予約日, 会議室番号, 利用者番号
        FROM reservation.予約
        WHERE 利用者番号 = #{value}
    </select>

    <update id="update" parameterType="mrs.domain.model.reservation.reservation.Reservation">
        UPDATE reservation.予約
        SET 予約終了時間 = #{reservedTime.endTime},
            予約開始時間 = #{reservedTime.startTime},
            予約日    = #{reservableRoom.reservableRoomId.reservedDate.value},
            会議室番号  = #{reservableRoom.reservableRoomId.roomId.value},
            利用者番号  = #{user.userId.value}
        WHERE 予約番号 = #{reservationId.value}
    </update>

    <delete id="delete">
        DELETE
        FROM reservation.予約
        WHERE 予約番号 = #{value}
    </delete>

    <delete id="deleteAll">
        DELETE
        FROM reservation.予約
    </delete>

    <select id="selectByReservedDateAndRoomIdOrderByStartTimeAsc"
            parameterType="mrs.domain.model.reservation.room.ReservableRoomId"
            resultMap="BaseResultMap">
        SELECT r.予約番号,
               r.予約終了時間,
               r.予約開始時間,
               r.予約日,
               r.会議室番号,
               r.利用者番号,
               u.姓,
               u.名,
               u.役割,
               rm.会議室名
        FROM reservation.予約 r
                 LEFT OUTER JOIN reservation.予約可能会議室 rr
                                 ON r.予約日 = rr.予約日 AND r.会議室番号 = rr.会議室番号
                 LEFT OUTER JOIN auth.利用者 u
                                 ON r.利用者番号 = u.利用者番号
                 LEFT OUTER JOIN facility.会議室 rm
                                 ON r.会議室番号 = rm.会議室番号
        WHERE rr.予約日 = #{reservedDate.value}
          AND rr.会議室番号 = #{roomId.value}
        ORDER BY r.予約開始時間 ASC
    </select>
</mapper>
