<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymelef.org">

<div th:include="fragment/app-header"></div>

<head>
    <meta charset="UTF-8">
    <title th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2016/5/20の会議室</title>
</head>
<body th:with="user=${#authentication.principal.user}">

<section class="reserve-form">
    <div class="reserve-form-container">
        <div class="reserve-form-decoration">
            <div>
                <a class="btn" th:href="@{'/rooms/' + ${date}}">戻る</a>
            </div>

            <p style="color: red" th:if="${error != null}" th:text="${error}"></p>

            <form method="post"
                  th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}" th:object="${reservationForm}">
                会議室: <span th:text="${room.RoomName}">豊洲</span>
                <br/>
                予約者名: <span th:text="${user.Name.FullName}">山田 太郎</span>
                <br/>
                日付: <span th:text="${#temporals.format(date, 'yyyy/M/d')}">2016/5/20</span>
                <br/>
                時間帯:
                <select th:field="*{startTime}">
                    <option th:each="time : ${timeList}" th:text="${time}" th:value="${time}">09:00</option>
                </select>
                <span style="color:red" th:error="*{startTime}" th:if="${#fields.hasErrors('startTime')}">error</span>
                -
                <select th:field="*{endTime}">
                    <option th:each="time : ${timeList}" th:text="${time}" th:value="${time}">10:00</option>
                </select>
                <span style="color:red" th:error="*{endTime}" th:if="${#fields.hasErrors('endTime')}">error</span>
                <br/>
                <button class="btn">予約</button>
            </form>

            <table>
                <tr>
                    <th>時間帯</th>
                    <th>予約者</th>
                    <th>操作</th>
                </tr>
                <tr th:each="reservation : ${reservations}">
                    <td>
            <span th:text="${reservation.ReservedTime.StartTime}">
            -
            <span th:text="${reservation.ReservedTime.EndTime}">
                    </td>
                    <td>
            <span th:text="${reservation.User.Name.LastName}">
            <span th:text="${reservation.User.Name.FirstName}">
                    </td>
                    <td>
                        <form method="post"
                              sec:authorize="${hasRole('ADMIN') or #vars.user.UserId == #vars.reservation.User.UserId}"
                              th:action="@{'/reservations/' + ${date} + '/' + ${roomId}}">
                            <input name="reservationId" th:value="${reservation.ReservationId.Value}" type="hidden">
                            <input class="btn btn-accent" name="cancel" type="submit" value="取消">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

</body>
</html>
