<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrs.infrastructure.datasource.reserve.reservation.ReservationMapper">
    <resultMap id="BaseResultMap" type="mrs.domain.model.reserve.reservation.Reservation">
        <id column="予約番号" property="reservationId"/>
        <result column="予約終了時間" property="endTime"/>
        <result column="予約開始時間" property="startTime"/>
        <result column="予約日" property="reservableRoom.reservableRoomId.reservedDate"/>
        <result column="会議室番号" property="reservableRoom.reservableRoomId.roomId"/>
        <result column="会員番号" property="user.userId"/>
        <association property="reservableRoom.reservableRoomId"
                     javaType="mrs.domain.model.reserve.room.ReservableRoomId">
            <id property="roomId" column="会議室番号"/>
            <result property="reservedDate" column="予約日"/>
        </association>
        <association property="reservableRoom.meetingRoom"
                     javaType="mrs.domain.model.reserve.room.MeetingRoom"
                     column="会議室番号"
                     select="mrs.infrastructure.datasource.reserve.room.RoomMapper.select"
        />
        <association property="user"
                     javaType="mrs.domain.model.user.User"
                     column="会員番号"
                     select="mrs.infrastructure.datasource.user.UserMapper.select"
        />
    </resultMap>

    <insert id="insert" parameterType="mrs.domain.model.reserve.reservation.Reservation" useGeneratedKeys="true">
        INSERT INTO reservation.予約
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reservationId != null">
                予約番号,
            </if>
            <if test="endTime != null">
                予約終了時間,
            </if>
            <if test="startTime != null">
                予約開始時間,
            </if>
            <if test="reservableRoom.reservableRoomId.reservedDate != null">
                予約日,
            </if>
            <if test="reservableRoom.reservableRoomId.roomId != null">
                会議室番号,
            </if>
            <if test="user.userId != null">
                会員番号,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reservationId != null">
                #{reservationId},
            </if>
            <if test="endTime != null">
                #{endTime},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="reservableRoom.reservableRoomId.reservedDate != null">
                #{reservableRoom.reservableRoomId.reservedDate},
            </if>
            <if test="reservableRoom.reservableRoomId.roomId != null">
                #{reservableRoom.reservableRoomId.roomId},
            </if>
            <if test="user.userId != null">
                #{user.userId},
            </if>
        </trim>
    </insert>

    <select id="select" resultMap="BaseResultMap">
        SELECT 予約番号, 予約終了時間, 予約開始時間, 予約日, 会議室番号, 会員番号
        FROM reservation.予約
        WHERE 予約番号 = #{reservationId}
    </select>

    <select id="selectAllJoin" resultMap="BaseResultMap">
        SELECT r.予約番号,
               r.予約終了時間,
               r.予約開始時間,
               r.予約日,
               r.会議室番号,
               r.会員番号,
               u.姓,
               u.名,
               u.役割,
               rm.会議室名
        FROM reservation.予約 r
                 LEFT OUTER JOIN reservation.予約可能会議室 rr
                                 ON r.予約日 = rr.予約日 AND r.会議室番号 = rr.会議室番号
                 LEFT OUTER JOIN usr.会員 u
                                 ON r.会員番号 = u.会員番号
                 LEFT OUTER JOIN reservation.会議室 rm
                                 ON r.会議室番号 = rm.会議室番号
    </select>

    <select id="selectByKey" resultMap="BaseResultMap">
        SELECT 予約番号, 予約終了時間, 予約開始時間, 予約日, 会議室番号, 会員番号
        FROM reservation.予約
        WHERE 予約日 = #{reservedDate}
          AND 会議室番号 = #{roomId}
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT 予約番号, 予約終了時間, 予約開始時間, 予約日, 会議室番号, 会員番号
        FROM reservation.予約
        WHERE 会員番号 = #{userId}
    </select>

    <update id="update" parameterType="mrs.domain.model.reserve.reservation.Reservation">
        UPDATE reservation.予約
        SET 予約終了時間 = #{endTime},
            予約開始時間 = #{startTime},
            予約日    = #{reservableRoom.reservableRoomId.reservedDate},
            会議室番号  = #{reservableRoom.reservableRoomId.roomId},
            会員番号   = #{user.userId}
        WHERE 予約番号 = #{reservationId}
    </update>

    <delete id="delete">
        DELETE
        FROM reservation.予約
        WHERE 予約番号 = #{reservationId}
    </delete>

    <delete id="deleteAll">
        DELETE
        FROM reservation.予約
    </delete>

    <select id="findByReservableRoom_ReservableRoomIdOrderByStartTimeAsc"
            parameterType="mrs.domain.model.reserve.room.ReservableRoomId"
            resultMap="BaseResultMap">
        SELECT r.予約番号,
               r.予約終了時間,
               r.予約開始時間,
               r.予約日,
               r.会議室番号,
               r.会員番号,
               u.姓,
               u.名,
               u.役割,
               rm.会議室名
        FROM reservation.予約 r
                 LEFT OUTER JOIN reservation.予約可能会議室 rr
                                 ON r.予約日 = rr.予約日 AND r.会議室番号 = rr.会議室番号
                 LEFT OUTER JOIN usr.会員 u
                                 ON r.会員番号 = u.会員番号
                 LEFT OUTER JOIN reservation.会議室 rm
                                 ON r.会議室番号 = rm.会議室番号
        WHERE rr.予約日 = #{reservedDate}
          AND rr.会議室番号 = #{roomId}
        ORDER BY r.予約開始時間 ASC
    </select>
</mapper>
