<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrs.infrastructure.datasource.reserve.room.RoomMapper">
  <resultMap id="BaseResultMap" type="mrs.domain.model.reserve.room.MeetingRoom">
    <id column="会議室番号" jdbcType="INTEGER" property="roomId"/>
    <result column="会議室名" jdbcType="VARCHAR" property="roomName"/>
    <collection property="reservableRooms"
                javaType="ArrayList"
                column="会議室番号"
                select="mrs.infrastructure.datasource.reserve.room.ReservableRoomMapper.selectAllJoin"
                fetchType="lazy"
    />
  </resultMap>

  <insert id="insert" useGeneratedKeys="true">
    INSERT INTO reserve.会議室 (会議室番号, 会議室名)
    VALUES (#{roomId}, #{roomName})
  </insert>

  <select id="select" resultMap="BaseResultMap">
    SELECT 会議室番号, 会議室名, 登録日時
    FROM reserve.会議室
    WHERE 会議室番号 = #{roomId}
  </select>

  <select id="selectAllJoin" resultMap="BaseResultMap">
    SELECT 会議室番号, 会議室名, 登録日時
    FROM reserve.会議室
  </select>

  <update id="update" parameterType="mrs.domain.model.reserve.room.MeetingRoom">
    UPDATE reserve.会議室
    SET 会議室名 = #{roomName}
    WHERE 会議室番号 = #{roomId}
  </update>

  <delete id="delete">
    DELETE
    FROM Reserve.会議室
    WHERE 会議室番号 = #{roomId}
  </delete>

  <delete id="deleteAll">
    DELETE
    FROM Reserve.会議室
  </delete>
</mapper>
