<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrs.infrastructure.datasource.facility.room.RoomMapper">
    <resultMap id="BaseResultMap" type="mrs.domain.model.facility.room.MeetingRoom">
        <id column="会議室番号" jdbcType="INTEGER" property="roomId.value"/>
        <result column="会議室名" jdbcType="VARCHAR" property="roomName"/>
        <collection property="reservableRooms"
                    javaType="ArrayList"
                    column="会議室番号"
                    select="mrs.infrastructure.datasource.reservation.room.ReservableRoomMapper.selectAll"
                    fetchType="lazy"
        />
    </resultMap>

    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO facility.会議室 (会議室番号, 会議室名)
        VALUES (#{roomId.value}, #{roomName})
    </insert>

  <select id="select" resultMap="BaseResultMap">
      SELECT 会議室番号, 会議室名, 登録日時
      FROM facility.会議室
      WHERE 会議室番号 = #{value}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
      SELECT 会議室番号, 会議室名, 登録日時
      FROM facility.会議室
  </select>

    <update id="update" parameterType="mrs.domain.model.facility.room.MeetingRoom">
        UPDATE facility.会議室
        SET 会議室名 = #{roomName}
        WHERE 会議室番号 = #{roomId.value}
    </update>

  <delete id="delete">
      DELETE
      FROM facility.会議室
      WHERE 会議室番号 = #{value}
  </delete>

  <delete id="deleteAll">
      DELETE
      FROM facility.会議室
  </delete>
</mapper>
