/* ログイン */
.login {
  height: 650px;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
}

.login-container {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 100%;
  font-size: clamp(16px, 2.4vw, 18px);
}

.login-form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: row;
  grid-gap: .8em;
  padding: 1.2em;

  > label {
    grid-column: 1;
    grid-row: auto;
  }

  > button {
    grid-column: 2 / 2;
    border: none;
    padding: 1em;
  }

  .error {
    grid-column: 2 / 2;
    font-size: 26px;
    font-weight: bold;
    color: #ff0000;
  }

  .loading {
    grid-column: 2 / 2;
    font-size: 26px;
    font-weight: bold;
    color: #999999;
  }
}

