<div class="app-nav" id="header-nav">
    <ul class="header-list">
        <li class="menu-item a">
            <a href="">予約</a>
            <ul class="sub-menu">
                <li class="sub-menu-item a"><a href="/rooms">会議室予約一覧</a></li>
                <li class="sub-menu-item a" sec:authorize="${hasRole('管理者')}"><a href="/meetingRooms">会議室一覧</a></li>
                <li class="sub-menu-item a" sec:authorize="${hasRole('管理者')}"><a href="/reservableRooms">予約可能会議室一覧</a>
                </li>
            </ul>
        </li>
        <li class="menu-item b">
            <a href="">会員</a>
            <ul class="sub-menu">
                <li class="sub-menu-item b" sec:authorize="${hasRole('管理者')}"><a href="/users">利用者一覧</a></li>
                <li class="sub-menu-item b" sec:authorize="${hasRole('管理者')}"><a href="/contacts">問い合わせ一覧</a></li>
                <li class="sub-menu-item b" sec:authorize="${hasRole('一般')}"><a href="/contacts/regist">問い合わせ</a></li>
            </ul>
        </li>
    </ul>
</div>
