<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">
<html lang="ja">
<body>
<footer class="footer">
    <div class="footer-container w-container">
        <div class="footer-site">
            <a href="index.html">
                <img alt="Boards" height="26" th:src="@{img/logo2.svg}" width="135">
            </a>
        </div>

        <ul class="footer-sns">
            <li>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                    <span class="sr-only">Twitter</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                    <span class="sr-only">Facebook</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                    <span class="sr-only">Instagram</span>
                </a>
            </li>
        </ul>

        <ul class="footer-menu">
            <li><a href="#">会社概要</a></li>
            <li><a href="#">特定商取引法</a></li>
            <li><a href="#">個人情報の取り扱い</a></li>
            <li><a href="/content">サービス案内</a></li>
            <li><a href="#">お問い合わせ</a></li>
        </ul>

        <div class="footer-copy">
            @ Boards Production.
        </div>
    </div>
</footer>
</body>
</html>
