<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width" name="viewport">
  <title>Boards</title>

  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">

  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" rel="stylesheet">

  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header class="header">
  <div class="header-container w-container">
    <div class="site">
      <a href="/">
        <img alt="Boards" height="26" th:src="@{/img/logo2.svg}" width="135">
      </a>
    </div>

    <button class="navbtn"
            onclick="document.querySelector('html').classList.toggle('open')">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times"></i>
      <span class="sr-only">MENU</span>
    </button>

    <nav class="nav">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/content">サービス案内</a></li>
        <li><a href="/contacts/gust/regist">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
</header>
</body>
</html>
