<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">
<html lang="ja">

<div th:include="fragment/app-header"></div>

<body>
<section class="app">
    <div class="app-container w-container">
        <div class="app-decoration">
            <div th:include="fragment/app-menu"></div>
        </div>

        <div class="app-decoration">
            <nav th:block th:if="${pageNation.EndPage} > ${pageNation.PageSize}">
                <ul class="pagination">
                    <li>
                        <a th:href="@{'/users?page=1'}" 　tabindex="-2">最初</a>
                    </li>
                    <li>
                        <a th:href="@{'/users?page=' + ${pageNation.Page-1}}"
                           　tabindex="-1">前へ</a>
                    </li>
                    <th:block th:if="${pageNation.EndPage} <= 1">
                        <li th:classappend="${i == pageNation.Page} ? active"
                            th:each="i : ${pageNation.StartPage}">
                            <a th:href="@{'/users?page=' + ${i}}" th:text="${i}"></a>
                        </li>
                    </th:block>

                    <th:block th:if="${pageNation.EndPage}>${pageNation.PageSize}">
                        <li th:classappend="${i == pageNation.Page} ? active"
                            th:each="i : ${#numbers.sequence(pageNation.Page, pageNation.Page + 2)}">
                            <a th:href="@{'/users?page=' + ${i}}" th:text="${i}"></a>
                        </li>
                        <li>...</li>
                        <li th:classappend="${i == pageNation.Page} ? active"
                            th:each="i : ${#numbers.sequence(pageNation.EndPage - 2, pageNation.EndPage, -1)}">
                            <a th:href="@{'/users?page=' + ${i}}" th:text="${i}"></a>
                        </li>
                    </th:block>
                    <li>
                        <a th:href="@{'/users?page=' + ${pageNation.Page+1}}">次へ</a>
                    </li>
                    <li>
                        <a th:href="@{'/users?page=' + ${pageNation.TotalPage}}">最後</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="app-decoration">
            <div class="message">
                <p class="error" th:if="${error != null}" th:text="${error}"></p>
                <p class="error" th:if="${errors != null}" th:text="入力内容にエラーがあります"></p>
                <p class="success" th:if="${success != null}" th:text="${success}"></p>
            </div>
        </div>

        <div class="app-decoration">
            <button class="regist app-btn" id="update_button" onclick="
              let row = this.parentElement.parentElement;
              getElementById('regist_id').value = '';
              getElementById('regist_firstName').value = '';
              getElementById('regist_lastName').value = '';
              getElementById('regist_role').value = '';
              var dialog = getElementById('registDialog');
              dialog.style.left = ((window.innerWidth - 500) / 2) + 'px';
              dialog.style.display = 'block';
              " type="submit">新規
            </button>
        </div>

        <div class="app-decoration">
            <table class="app-table">
                <tr>
                    <th>利用者番号</th>
                    <th>姓</th>
                    <th>名</th>
                    <th>役割</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td>
                        <span th:text="${user.UserId.Value}">
                    </td>
                    <td>
                        <span th:text="${user.Name.FirstName}">
                    </td>
                    <td>
                        <span th:text="${user.Name.LastName}">
                    </td>
                    <td>
                        <span th:text="${user.RoleName}">
                    </td>
                    <td>
                        <button class="app-btn" onclick="
                          let row = this.parentElement.parentElement;
                          getElementById('update_id').value = row.cells[0].innerText;
                          getElementById('update_firstName').value = row.cells[1].innerText;
                          getElementById('update_lastName').value = row.cells[2].innerText;
                          getElementById('update_role').value = row.cells[3].outerText;
                          var dialog = getElementById('updateDialog');
                          dialog.style.left = ((window.innerWidth - 500) / 2) + 'px';
                          dialog.style.display = 'block';
                        " type="submit">編集
                        </button>
                    </td>
                    <td>
                        <a class="app-btn app-btn-accent" th:href="@{'/users/delete/' + ${user.UserId.Value}}">削除</a>
                    </td>
                </tr>
            </table>

            <div id="registDialog">
                <div>
                    <form class="app-form" method="post" th:action="@{/users}" th:object="${userForm}">
                        <label>利用者番号</label>
                        <input id="regist_id" name="id" th:field="*{userId}" type="text"/>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('userId')}" th:text="${err}"/>
                        </ul>
                        <label>姓</label>
                        <input id="regist_firstName" name="firstName" th:field="*{firstName}" type="text"/>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                        </ul>
                        <label>名</label>
                        <input id="regist_lastName" name="lastName" th:field="*{lastName}" type="text"/>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
                        </ul>
                        <label>パスワード</label>
                        <input id="regist_password" name="password" th:field="*{password}" type="password"/>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
                        </ul>
                        <label>役割</label>
                        <select id="regist_role" name="done" th:field="*{roleName}">
                            <option selected value="一般">一般</option>
                            <option value="管理者">管理者</option>
                        </select>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('roleName')}" th:text="${err}"/>
                        </ul>
                        <button class="app-btn" name="regist" type="submit">登録</button>
                        <button class="app-btn app-btn-accent"
                                onclick="getElementById('registDialog').style.display='none';"
                                type="reset">キャンセル
                        </button>
                    </form>
                </div>
            </div>

            <div id="updateDialog">
                <div>
                    <form class="app-form" method="post" th:action="@{/users}" th:object="${userForm}">
                        <label>利用者番号</label>
                        <input id="update_id" name="id" readonly th:field="*{userId}" type="text"/>
                        <label>姓</label>
                        <input id="update_firstName" name="firstName" th:field="*{firstName}" type="text"/>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                        </ul>
                        <label>名</label>
                        <input id="update_lastName" name="lastName" th:field="*{lastName}" type="text"/>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
                        </ul>
                        <label>パスワード</label>
                        <input id="update_password" name="password" th:field="*{password}" type="password"/>
                        <ul>
                            <li>未入力の場合はパスワード未更新</li>
                            <li class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
                        </ul>
                        <label>役割</label>
                        <select id="update_role" name="done" th:field="*{roleName}">
                            <option value="一般">一般</option>
                            <option value="管理者">管理者</option>
                        </select>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('roleName')}" th:text="${err}"/>
                        </ul>
                        <button class="app-btn" name="update" type="submit">登録</button>
                        <button class="app-btn app-btn-accent"
                                onclick="getElementById('updateDialog').style.display='none';"
                                type="reset">キャンセル
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
