<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">
<html lang="ja">
<div th:include="fragment/header"></div>

<article class="entry">
    <figure class="entry-img">
        <img alt="" height="470" th:src="@{/img/service2.jpg}" width="1600">
    </figure>

    <div class="w-container">
        <h1 class="heading-decoration">サービス案内</h1>
        <p>Services</p>

        <div class="entry-container">
            <p>ゆく川の流れは絶えずして、しかも、もとの水にあらず。淀みに浮ぶうたかたは、かつ消えかつ結びて、久しくとどまりたるためしなし。</p>
            <p>世の中にある人とすみかと、またかくのごとし。たましきの都のうちに、棟を並べ、蔓を争へる、高き、卑しき人のすまひは、世々を鰹て尽きせぬものなれど、これをまことかと尋ぬれば、昔ありし家はまれなり。或は、去年焼けて今年作れり。或は、大家滅びて小家となる。</p>
            <p>住む人も、これに同じ。所もかはらず、人も多かれど、いにしへ見し人は、二三十人が中に、わづかに一人二人なり。朝に死し、夕に生るるならひ、ただ水の泡にぞ似たりける。</p>
            <p>知らず、生れ死ぬる人、いづかたより宸りて、いづかたへか去る。また知らず、仮の宿り、誰がためにか心を悩まし、何によりてか、目を喜ばしむる。その主とすみかと、無鴛を争ふさま、いはば朝顔の露に異ならず。或は、露落ちて花残れり。残るといへども、朝日に枯れぬ。或は、花はしぼみて露なほ消えず。消えずといへども、夕べを待つことなし。</p>
        </div>
    </div>
</article>

<!--
<section class="plans">
    <div class="w-container">
        <h2 class="heading">
            Service Plans <span>サービスプラン</span>
        </h2>

        <div class="plans-container">
            <div class="plan">
                <h3>Free</h3>
                <p class="desc">便利なオンラインツールを今すぐご利用いただけるプランです。</p>
                <p class="price">無料</p>
                <a class="btn" href="#">使ってみる</a>
            </div>

            <div class="plan">
                <h3>Standard</h3>
                <p class="desc">厳選した最新ステーショナリーグッズを毎月お届けするスタンダードプランです。</p>
                <p class="price">980円/月</p>
                <a class="btn btn-accent" href="#">使ってみる</a>
            </div>

            <div class="plan">
                <h3>Pro</h3>
                <p class="desc">プロフェッショナルなツールの貸し出し、工房の利用など、さまざまなご要望にお応えするプランです。</p>
                <p class="price">2,800円/月</p>
                <a class="btn btn-accent" href="#">使ってみる</a>
            </div>
        </div>
    </div>
</section>
-->

<div th:include="fragment/footer"></div>

</body>
</html>
