<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">
<html lang="ja">
<body>

<div th:include="fragment/header"></div>

<section class="hero">
    <div class="hero-container w-container">
        <h1>Meeting Room Reservation System</h1>
        <p>会議室予約システム</p>
        <a class="btn" href="/loginForm">ログイン</a>
    </div>
</section>

<section class="imgtext">
    <div class="imgtext-container w-container">
        <div class="text">
            <h2 class="heading-decoration">Webから会議室検索</h2>
            <p>ReservableRoom</p>
            <p>利用可能な会議室があるかをWebで検索できます</p>
        </div>
        <figure class="img">
            <img alt="" height="1260" th:src="@{/img/search.png}" width="1600">
        </figure>
    </div>
</section>

<section class="imgtext">
    <div class="imgtext-container reverse w-container">
        <div class="text">
            <h2 class="heading-decoration">Webから会議室予約</h2>
            <p>Reservation</p>
            <p>利用可能な会議室をWebで予約できます</p>
        </div>
        <figure class="img">
            <img alt="" height="1260" th:src="@{/img/reserved.png}" width="1600">
        </figure>
    </div>
</section>

<section class="posts">
    <div class="w-container">
        <h2 class="heading">
            News
        </h2>

        <ol class="news-list">
            <li class="news-list-item">
                <time class="news-list-head">2020.6.1</time>
                <span class="news-list-body">Web予約サービス機能をリリース</span>
            </li>
        </ol>
    </div>
</section>

<!--
<section class="posts">
    <div class="w-container">
        <h2 class="heading">
            News Releases <span>最新情報</span>
        </h2>

        <div class="posts-container">
            <article class="post">
                <a href="#">
                    <figure><img alt="" height="750" th:src="@{/img/news01.jpg}" width="1000"></figure>
                    <h3>スパンコール</h3>
                    <p>キラキラと光を反射する装飾素材です。いつもの道具にアクセントを付けます。</p>
                </a>
            </article>

            <article class="post">
                <a href="#">
                    <figure><img alt="" height="750" th:src="@{/img/news02.jpg}" width="1000"></figure>
                    <h3>卓上ランタン</h3>
                    <p>手元に灯りが欲しいときに、便利でかわいい卓上ランタンです。</p>
                </a>
            </article>

            <article class="post">
                <a href="#">
                    <figure><img alt="" height="1000" th:src="@{/img/news03.jpg}" width="1000"></figure>
                    <h3>冊子印刷</h3>
                    <p>スタンダードプランにも手軽な冊子印刷が登場しました。</p>
                </a>
            </article>

            <article class="post">
                <a href="#">
                    <figure><img alt="" height="750" th:src="@{/img/news04.jpg}" width="1000"></figure>
                    <h3>マグネット</h3>
                    <p>メモやアイデアを貼り出しておくなら、かわいいマグネットがおすすめです。</p>
                </a>
            </article>

            <article class="post">
                <a href="#">
                    <figure><img alt="" height="750" th:src="@{/img/news05.jpg}" width="1000"></figure>
                    <h3>ビジネスノート</h3>
                    <p>書き心地や開きやすさにこだわった、ビジネス用のノートたちを紹介します。</p>
                </a>
            </article>

            <article class="post">
                <a href="#">
                    <figure><img alt="" height="750" th:src="@{/img/news06.jpg}" width="1000"></figure>
                    <h3>ボールペン</h3>
                    <p>スタイリッシュなボールペンで仕事環境の雰囲気を変えてみました。</p>
                </a>
            </article>
        </div>
    </div>
</section>
-->
<div th:include="fragment/footer"></div>

</body>
</html>
