<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrs.infrastructure.datasource.auth.UserMapper">
  <resultMap id="BaseResultMap" type="mrs.domain.model.auth.user.User">
    <id column="利用者番号" jdbcType="VARCHAR" property="userId.value"/>
    <result column="姓" jdbcType="VARCHAR" property="name.firstName"/>
    <result column="名" jdbcType="VARCHAR" property="name.lastName"/>
    <result column="パスワード" jdbcType="VARCHAR" property="password.value"/>
    <result column="利用者区分" jdbcType="VARCHAR" property="roleName"/>
    <collection property="reservations"
                javaType="ArrayList"
                column="利用者番号"
                select="mrs.infrastructure.datasource.reservation.reservation.ReservationMapper.selectByUserId"
                fetchType="lazy"
    />
  </resultMap>

  <insert id="insert" useGeneratedKeys="true">
    INSERT INTO usr.利用者 (利用者番号, 姓, 名, パスワード, 利用者区分)
    VALUES (#{userId.value}, #{name.firstName}, #{name.lastName}, #{password.value}, #{roleName})
  </insert>

  <select id="select" resultMap="BaseResultMap">
    SELECT 利用者番号, 姓, 名, パスワード, 利用者区分, 登録日時
    FROM usr.利用者
    WHERE 利用者番号 = #{value}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT 利用者番号, 姓, 名, パスワード, 利用者区分, 登録日時
    FROM usr.利用者
  </select>

  <update id="update" parameterType="mrs.domain.model.auth.user.User">
    UPDATE usr.利用者
    SET 姓     = #{name.firstName},
        名     = #{name.lastName},
        パスワード = #{password.value},
        利用者区分 = #{roleName}
    WHERE 利用者番号 = #{userId.value}
  </update>

  <delete id="delete">
    DELETE
    FROM usr.利用者
    WHERE 利用者番号 = #{value}
  </delete>

  <delete id="deleteAll">
    DELETE
    FROM usr.利用者
  </delete>
</mapper>
