<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrs.infrastructure.datasource.user.UserMapper">
  <resultMap id="BaseResultMap" type="mrs.domain.model.user.User">
    <id column="会員番号" jdbcType="VARCHAR" property="userId.value"/>
    <result column="姓" jdbcType="VARCHAR" property="name.firstName"/>
    <result column="名" jdbcType="VARCHAR" property="name.lastName"/>
    <result column="パスワード" jdbcType="VARCHAR" property="password"/>
    <result column="役割" jdbcType="VARCHAR" property="roleName"/>
    <collection property="reservations"
                javaType="ArrayList"
                column="会員番号"
                select="mrs.infrastructure.datasource.reservation.reservation.ReservationMapper.selectByUserId"
                fetchType="lazy"
    />
  </resultMap>

  <insert id="insert" useGeneratedKeys="true">
    INSERT INTO usr.会員 (会員番号, 姓, 名, パスワード, 役割)
    VALUES (#{userId.value}, #{name.firstName}, #{name.lastName}, #{password}, #{roleName})
  </insert>

  <select id="select" resultMap="BaseResultMap">
    SELECT 会員番号, 姓, 名, パスワード, 役割, 登録日時
    FROM usr.会員
    WHERE 会員番号 = #{value}
  </select>

  <select id="selectAllJoin" resultMap="BaseResultMap">
    SELECT 会員番号, 姓, 名, パスワード, 役割, 登録日時
    FROM usr.会員
  </select>

  <update id="update" parameterType="mrs.domain.model.user.User">
    UPDATE usr.会員
    SET 姓     = #{name.firstName},
        名     = #{name.lastName},
        パスワード = #{password},
        役割    = #{roleName}
    WHERE 会員番号 = #{userId.value}
  </update>

  <delete id="delete">
    DELETE
    FROM usr.会員
    WHERE 会員番号 = #{value}
  </delete>

  <delete id="deleteAll">
    DELETE
    FROM usr.会員
  </delete>
</mapper>
