<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">
<html lang="ja">

<div th:include="fragment/app-header"></div>

<body>
<div class="reservable-room">
    <div class="reservable-room-container w-container">
        <div class="message">
            <p class="error" th:if="${error != null}" th:text="${error}"></p>
            <p class="error" th:if="${errors != null}" th:text="入力内容にエラーがあります"></p>
            <p class="success" th:if="${success != null}" th:text="${success}"></p>
        </div>

        <button class="btn" id="regist_button" onclick="
              let row = this.parentElement.parentElement;
              getElementById('regist_id').value = '';
              getElementById('regist_reservedDate').value = '';
              var dialog = getElementById('registDialog');
              dialog.style.left = ((window.innerWidth - 500) / 2) + 'px';
              dialog.style.display = 'block';
              " type="submit">新規
        </button>

        <div class="reservable-room-decoration">
            <table class="reservable-room-table">
                <tr>
                    <th>予約日</th>
                    <th>会議室番号</th>
                    <th>会議室名</th>
                    <th>操作</th>
                </tr>
                <tr th:each="room : ${rooms}">
                    <td>
                        <span th:text="${room.ReservableRoomId.ReservedDate.Value}">
                    </td>
                    <td>
                        <span th:text="${room.ReservableRoomId.RoomNumber}">
                    </td>
                    <td>
                        <span th:text="${room.MeetingRoom.RoomName}">
                    </td>
                    <td>
                        <a class="btn btn-accent"
                           th:href="@{'/reservableRooms/delete/' + ${room.ReservableRoomId.RoomId.Value} + '/' + ${room.ReservableRoomId.ReservedDate.Value}}">削除</a>
                    </td>
                </tr>
            </table>

            <div id="registDialog">
                <div>
                    <form class="meeting-room-form" method="post" th:action="@{/reservableRooms}"
                          th:object="${reservableRoomForm}">
                        <label>予約日</label>
                        <input id="regist_reservedDate" name="id" th:field="*{reservedDate}" type="date"/>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('reservedDate')}" th:text="${err}"/>
                        </ul>
                        <label>会議室番号</label>
                        <input id="regist_id" name="roomId" th:field="*{roomId}" type="text"/>
                        <ul>
                            <li class="error" th:each="err : ${#fields.errors('roomId')}" th:text="${err}"/>
                        </ul>
                        <button class="btn" name="regist" type="submit">登録</button>
                        <button class="btn btn-accent" onclick="getElementById('registDialog').style.display='none';"
                                type="reset">キャンセル
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
