<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mrs.infrastructure.datasource.reservation.room.ReservableRoomMapper">
    <resultMap id="BaseResultMap" type="mrs.domain.model.reservation.room.ReservableRoom">
        <id column="予約日" property="reservableRoomId.reservedDate.value"/>
        <id column="会議室番号" property="reservableRoomId.roomId.value"/>
        <association property="reservableRoomId" javaType="mrs.domain.model.reservation.room.ReservableRoomId">
            <id property="roomId.value" column="会議室番号"/>
            <result property="reservedDate.value" column="予約日"/>
        </association>
        <association property="meetingRoom"
                     javaType="mrs.domain.model.facility.room.MeetingRoom"
                     column="会議室番号"
                     select="mrs.infrastructure.datasource.facility.room.RoomMapper.select"
        />
        <collection property="reservations"
                    javaType="ArrayList"
                    column="{reservedDate=予約日, roomId=会議室番号}"
                    select="mrs.infrastructure.datasource.reservation.reservation.ReservationMapper.selectByKey"
                    fetchType="lazy"
        />
    </resultMap>

    <insert id="insert" parameterType="mrs.domain.model.reservation.room.ReservableRoomId">
        INSERT INTO reservation.予約可能会議室 (予約日, 会議室番号)
        VALUES (#{reservedDate.value}, #{roomId.value})
    </insert>

    <select id="select" parameterType="mrs.domain.model.reservation.room.ReservableRoomId"
            resultMap="BaseResultMap">
        SELECT rr.会議室番号,
               rr.予約日,
               rm.会議室名
        FROM reservation.予約可能会議室 rr
                 LEFT OUTER JOIN facility.会議室 rm ON rr.会議室番号 = rm.会議室番号
        WHERE rr.会議室番号 = #{roomId.value}
          AND 予約日 = #{reservedDate.value}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT rr.会議室番号,
               rr.予約日,
               rm.会議室名
        FROM reservation.予約可能会議室 rr
                 LEFT OUTER JOIN facility.会議室 rm ON rr.会議室番号 = rm.会議室番号
    </select>

    <delete id="delete" parameterType="mrs.domain.model.reservation.room.ReservableRoomId">
        DELETE
        FROM reservation.予約可能会議室
        WHERE 予約日 = #{reservedDate.value}
          AND 会議室番号 = #{roomId.value}
    </delete>

    <delete id="deleteAll">
        DELETE
        FROM reservation.予約可能会議室
    </delete>

    <select id="selectByReservedDateOrderByRoomIdAsc" resultMap="BaseResultMap">
        SELECT rr.会議室番号,
               rr.予約日,
               rm.会議室名
        FROM reservation.予約可能会議室 rr
                 LEFT OUTER JOIN facility.会議室 rm ON rr.会議室番号 = rm.会議室番号
        WHERE 予約日 = #{value}
        ORDER BY rr.会議室番号 ASC
    </select>
</mapper>
