<!DOCTYPE html>
<html xmlns:th="http://www.thymelef.org">

<div th:include="fragment/app-header"></div>

<head>
    <meta charset="UTF-8">
    <title th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2016/5/20の会議室</title>
</head>
<body>


<section class="app">
    <dvi class="app-container w-container">
        <div class="app-decoration">
            <a th:href="@{'/rooms/' + ${date.minusDays(1)}}">&lt; 前日</a>
            <span th:text="|${#temporals.format(date, 'yyyy/M/d')}の会議室|">2016/5/20の会議室</span>
            <a th:href="@{'/rooms/' + ${date.plusDays(1)}}">翌日 &gt;</a>
        </div>

        <div class="app-decoration">
            <ul>
                <li th:each="room: ${rooms}">
                    <a ${room.MeetingRoom.RoomName}
                       th:href="@{'/reservations/' + ${date} + '/' + ${room.MeetingRoom.RoomId.Value}}"
                       th:text="${room.MeetingRoom.RoomName}"></a>
                </li>
            </ul>
        </div>
    </dvi>
</section>

</body>
</html>
